.tablecell {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tablepaper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.accountdiv {
    display: flex
}